@charset "ISO-8859-1";
footer{ 
	min-width: 1550px;
  max-height: 250px;
  width:100%;
  position: absolute;
  left: 0;
  bottom: 0; 
  background-color: #272F38;
  color: white;
  text-align: center;
  clear: both;
}
.generic{
	padding-left: 5px;
	display: inline-block;
	width: 30%;
    text-align: left;
    float: left;
}

.generic h4{
	margin: 0;
    margin-bottom: 5px;
}
.generic ul {
  	list-style: none;
  	padding: 0;
  	margin: 0;
}

.contatti{
	display: inline-block;
	text-align: left;
	
}

.icon{
	float: right;
    text-align: left;
    padding-left: 120px;
    width: calc(30% - 120px);
}

 h3{
	text-align: left;
}
.icon i{
	width: 30px;
	height: 30px;
}

.infoL{
	text-align: center;
	font-size: 10px;
    padding-top: 90px;
}
.generic a{
	 color: white;
	 text-decoration: none;
}

@media all and (max-width: 800px) {
	#body {
		padding-bottom: 800px;
	}
	footer {
	min-width: 100%;
	max-height: none;
	}
	footer>* {
	width: auto !important;
	float: none !important;
	display: block !important;
	text-align: center !important;
	}
	.icon {
	padding: 0;
	width: auto;
	}
	footer h3 {
	text-align: center;
	}

}