@charset "ISO-8859-1";

div#carrello {
	display: flex;
}

fieldset {
	flex: 75%;
}

table tr img {
	width: 150px;
}

div.box-checkout {
	flex: 25%;
	padding: 10px 16px 0;
	box-sizing: border-box;
	margin-bottom: 20px;
}

div#checkout {
	box-sizing: border-box;
	background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.prezzo {
	float: right;
}

.bottone {
	display: block;
	margin: 0 auto;
}
a {
	text-decoration: none;
}