@charset "ISO-8859-1";

header {
	height: 80px;
	text-align: center;
	background-color: #272F38;
	margin-bottom: 22px;
}

header a {
	color: #acd0fa;
}
#body{
	background-repeat: no-repeat;
	background-image: url("/EdilCommerce_Design/img/home01.jpg");
	background-size: 2000px 700px;
	
}
#left {
	float: left;
}

#left img {
	padding-left: 5px;
	padding-top: 10px;
	height: 57px;
	width: auto;
}
#center{
	display: inline-block;
	font-size: 50px;
	font-family: French Script MT;
	margin-top: 10px;
	color: #808080;
    text-shadow: -1px -1px 1px white;
	margin-left: 60px;
}
#rigth  {
	margin: 0;
	padding-top: 20px;
	padding-right: 10px;
	float:right;
}
#rigth ul {
	margin: 0;
	list-style-type: none;
	padding: 0px;
}

#rigth ul li{
	padding-left: 8px;
	display:inline;
}

li a img {
	height: 30px;
	width: auto;
}

li a img:not(first-of-type){
	padding-right: 5px; 
}


img#mainLogo {
	padding-top: 40px;
	align-content: center;
	margin: 0px auto;
	height: 200px;
	width: auto;
	display: block;
}

#search::placeholder{
	color: black;
}

.center input{
	display:inline-block;
}

div.center {
	position: relative;
	left: calc(50% - 162.5px);
	margin-top:70px;
	text-align:center;
	margin-top:50px;
	padding: 0;
	border: 1px solid #888;
	width: 325px;
}

#search {
	width: 100%;
	height: 28px;
	padding: 0 10px;
	background: white;
	border: 0;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: right;
	background-image: url("../img/lente.png");
	background-size: 28px;
}

#search:focus {
	background: white;
}

hr{
	margin-bottom: 40px;
	margin-top: 140px;
}

.chiSiamoL img{
	float: left;
	
}
.chiSiamoR{
	float: right;
	
}
#categorie {
	border: 2px solid white;
	background: rgb(172, 208, 250, 0.3);
	width: 900px;
	overflow: hidden;
	white-space: nowrap;
	scroll-behavior:smooth;
	padding: 10px;
	
}

#categorie img {
	border: 2px;
	border-style: solid;
	border-color: #272F38;
	border-radius: 100px;
	margin-right: 20px;
	width: 200px; 
	height: 200px;
}
#categorie a{
	vertical-align: middle;
}

#categorie a:hover{
	transform: scale(1.05);
}
.slideCategorie {
	margin-top: 50px;
	text-align: center;
}

.slideCategorie *{
	display: inline-block;
	vertical-align: middle;
}

.slideCategorie input{
	padding: 7px 10px;
	border-style: solid;
	border-radius: 100px;
	border-color: #272F38;
}

.slideCategorie input:active{
	border-color: white;
}
.slideCategorie input:hover{
	transform: scale(1.05);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 18px 50px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#suggerimenti{
	z-index: 1;
	position: absolute;
	
}
#suggerimenti ul{
	background:  #f2f2f2;
	text-align: left;
	margin-top: 0;
	list-style-type: none;
	width: 289px;
	font-size: 16px;
	padding-inline-start: 8px;
}
#suggerimenti li:hover{
	background:  #acd0fa ;
	
}
#suggerimenti li{
	 padding-top: 2.5px;
	 padding-bottom: 2.5px;
	
}
   
#suggerimenti a{
	color:  black;
	text-decoration: none;
	
}
.chiSiamo{
	float: left;
	width: 400px;
	height: auto;
	font-size: 18px;
	border: 1px solid #272F38;
	font-family: cursive;
	padding: 7px;
	background-color: #f2f2f2;
	box-shadow: 5px 5px #272F38;
}
.chiSiamo h2, .cheFacciamo h2{
	font-weight: bolder;
	color: #272F38;
}
.cheFacciamo{
	margin-top: -636px;
	float: right;
	width: 400px;
	height: auto;
	font-size: 18px;
	border: 1px solid #272F38;
	font-family: cursive;
	padding: 7px;
	background-color: #f2f2f2;
	box-shadow: 5px 5px #272F38;
}
#center2 {
	text-align: center;    
    font-size: 70px;
    font-family: French Script MT;
    margin-bottom: 8px;
    color: #272F38;
    text-shadow: -2px -2px 2px #f2f2f2;
    
}
.mySlides img{
   	width: 1000px; 
   	height: 600px;
   }
  

@media all and (max-width: 800px) {
  .slideCategorie{
  	width: 100%;
  }
  #categorie{
  	width: 85%;
  }
  #center {
  	font-size: 40px;
	margin-top: 15px;
	margin-left: auto;
  }
  #center2{
  	margin: 0;
  }
  .chiSiamo,.cheFacciamo{
	 float: none;
	 margin:20px auto;
	 width: 90%;
	  
   }
   .mySlides img{
   	width: 90vw; 
   	height: 54vw;
   }
  
 }
